<?xml version="1.0"?>
<config>
    <modules>
        <Divante_VueStorefrontBridge>
            <version>1.0.2</version>
        </Divante_VueStorefrontBridge>
    </modules>
  <frontend>
        <routers>
            <vsbridge>
                <use>standard</use>
                <args>
                    <module>Divante_VueStorefrontBridge</module>
                    <frontName>vsbridge</frontName>
                </args>
            </vsbridge>
        </routers>
    </frontend>    
    <global>
    </global>
</config>