<?xml version="1.0"?>
<config>
    <modules>
        <Divante_VueStorefrontBridge>
            <version>1.0.3</version>
        </Divante_VueStorefrontBridge>
    </modules>
    <global>
    </global>
    <frontend>
        <routers>
            <vsbridge>
                <use>standard</use>
                <args>
                    <module>Divante_VueStorefrontBridge</module>
                    <frontName>vsbridge</frontName>
                </args>
            </vsbridge>
        </routers>
    </frontend>
    <default>
        <vsbridge>
            <general>
                <jwt_secret>Geiw0qua</jwt_secret>
            </general>
        </vsbridge>
    </default>
</config>