<?xml version="1.0"?>
<config>
    <modules>
        <Divante_VueStorefrontBridge>
            <version>1.0.3</version>
        </Divante_VueStorefrontBridge>
    </modules>
    <frontend>
        <routers>
            <vsbridge>
                <use>standard</use>
                <args>
                    <module>Divante_VueStorefrontBridge</module>
                    <frontName>vsbridge</frontName>
                </args>
            </vsbridge>
        </routers>
    </frontend>
    <global>
        <models>
            <vsbridge>
                <class>Divante_VueStorefrontBridge_Model</class>
            </vsbridge>
        </models>
        <helpers>
            <vsbridge>
                <class>Divante_VueStorefrontBridge_Helper</class>
            </vsbridge>
        </helpers>
    </global>
    <default>
        <vsbridge>
            <general>
                <jwt_secret>Phaebah0</jwt_secret>
                <max_page_size>5000</max_page_size>
            </general>
        </vsbridge>
    </default>
</config>
